<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="OnlyBalds.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body id="onlybalds">
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        // Set the Blazor environment to Development if the hostname is a dev, test, stage, or local environment.
        // Note that this includes settings 'autostart="false"' on the blazor.webassembly.js script tag.
        // See: https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/environments#set-the-client-side-environment-via-blazor-startup-configuration
        const localHostSubStrings = [
            "127.0.0.1",
            "localhost",
            "no-ip",
            "local."
        ];
        
        const devEnvSubStrings = [
            "dev",
        ];
        
        const testHostSubStrings = [
            "test"
        ];
        
        const stageHostSubStrings = [
            "stage"
        ];
        
        var environment = 'Production';
        if (localHostSubStrings.some(subString => window.location.hostname.includes(subString))) {
            environment = 'Local';
        } else if (devEnvSubStrings.some(subString => window.location.hostname.includes(subString))) {
            environment = 'Development';
        } else if (testHostSubStrings.some(subString => window.location.hostname.includes(subString))) {
            environment = 'Test';
        } else if (stageHostSubStrings.some(subString => window.location.hostname.includes(subString))) {
            environment = 'Stage';
        }

        console.debug(`Setting Blazor environment to ${environment}`);
    </script>
</body>

</html>
