@inject IJSRuntime JSRuntime

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Access Denied</h4>
    <p>Sorry, you're not authorized to view this page.</p>
</div>

@code { 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/OnlyBaldsNotAuthorized.razor.js");
            await jsModule.InvokeVoidAsync("onLoad");
        }
    }
}