@page "/Posts/{ThreadId}"
@attribute [Authorize]

@inject IHttpClientFactory httpClientFactory
@inject ILogger<Threads> logger;
@inject IJSRuntime JSRuntime;

<title>Forum</title>

@if (posts is null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    <h1 class="mb-4">Posts</h1>

    foreach (var post in posts)
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Posted by @post.Author on @post.PostedOn.ToShortDateString()</h6>
                <p class="card-text">@post.Content</p>
                <a href="/PostDetails/@post.Id" class="btn btn-primary">Read more</a>
            </div>
        </div>
    }

    <a class="btn btn-primary mt-3" href="CreatePost/@ThreadId">
        Create Post
    </a>
}

@code {
    [Parameter]
    public string ThreadId { get; set; } = string.Empty;
    private string username = string.Empty;
    private List<PostItem>? posts;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Posts.razor.js");
            await jsModule.InvokeVoidAsync("onLoad");

            var httpClient = httpClientFactory.CreateClient(HttpClientNames.OnlyBalds);
            logger.LogInformation("Getting posts from API");

            // Don't include leading slash - see https://stackoverflow.com/a/23438417
            var postsClient = await httpClient.GetFromJsonAsync<List<PostItem>>("posts") ?? new();
            posts = postsClient.Where(p => p.ThreadId == Guid.Parse(ThreadId)).ToList();
            logger.LogInformation("Posts retrieved from API: {Posts}", JsonSerializer.Serialize(posts));
            
            StateHasChanged();
        }
    }
}
