@inherits LayoutComponentBase

<div class="page">
    <div class="navbar-dark bg-light fixed-top">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 mt-5">
            <div id="navbar-spacer" class="navbar-spacer"></div>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
