@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar navbar-dark bg-dark fixed-top">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Login @rendermode="InteractiveServer" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
