<!-- BANNER
============================================== -->
<div class="banner banner--fade-to-gray">
    <div class="container">
        <h1 class="banner__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">New Post</h1>
        <p class="lead banner__paragraph" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">To make a new Forum post, fill out the form below!</p>
    </div>
</div><!--/banner -->

<!-- BALDIE QUESTIONNAIRE
============================================== -->
<div class="section section--gray">
    <div class="container">
        <div class="box box--with-top-lines"  data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
            <div class="box__top-line box__top-line--light-blue"></div>
            <div class="box__top-line box__top-line--blue"></div>
            <div class="box__holder">
                <div class="box__section box__section--chat-frame">
                    <form action="" id="baldie-questionnaire">
                        <div class="grid">
                            <div class="grid__column grid__column--12 control">
                                <label for="newPostTitle" class="control__label">Post Title</label>
                                <input type="text" id="newPostTitle" name="newPostTitle" class="control__input">
                            </div>
                            <div class="grid__column grid__column--12 control">
                                <label for="newPostContent" class="control__label">Post Content</label>
                                <textarea id="newPostContent" name="newPostContent" class="control__input" style="height:300px;"></textarea>
                            </div>
                            <div class="grid__column grid__column--12 control">
                                <button class="btn btn--blue" type="submit">Submit New Post!</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $('.btn.btn--blue').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                url: "/identity-information",
                method: "GET",
                success: function (data) {
                    console.log("User data:", data);
                    const userId = data.claims.sub;
                    const params = new URLSearchParams(window.location.search);
                    const threadId = params.get('threadId');

                    let postItem = 
                    {
                        id: crypto.randomUUID(),
                        title: $("#newPostTitle").val(),
                        content: $("#newPostContent").val(),
                        postedOn: new Date().toISOString(),
                        author: data.name,
                        threadId: threadId,
                        userId: userId
                    };
                    let postItemJson = JSON.stringify(postItem);

                    $.ajax({
                        url: '/onlybalds-api/posts',
                        type: 'POST',
                        contentType: 'application/json',
                        data: postItemJson,
                        success: function(response) {
                            console.log('Post successful:', response);
                            window.app.scripts.clearQueryParams();
                            window.app.scripts.loadForum();
                        },
                        error: function(xhr, status, error) {
                            console.error('Post failed:', error);
                        }
                    });

                },
                error: function (xhr, status, error) {
                }
            });
        });

</script>