<!-- BANNER
============================================== -->
<div class="banner banner--fade-to-gray">
    <div class="container">
        <h1 class="banner__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">News Articles</h1>
        <p class="lead banner__paragraph" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">Catch up on the latest news and articles from the Only Balds community.</p>
        <div class="banner__btn-holder" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <button id="write-new-post" class="btn btn--blue banner__btn write-new-post">Write New Post</button>
        </div>
    </div>
</div><!--/banner -->

<!-- FORUM LISTINGS
============================================== -->
<div id="spinner-holder" class="box__holder">
    <div class="flex-center">
        <div class="spinner-border" role="status" aria-label="Loading"></div>
    </div>
</div>
<div id="app-holder" class="section section--gray" style="display: none;">
    <div class="container">
        <ul id="threads-list" class="list-group list-group-flush list-unstyled">

        </ul>
        <nav class="pagination" data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
            <ul class="pagination__nav">
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link--prev"><i class="fa fa-angle-left pagination__icon"></i> Prev</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link--is-active">1</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link--next">Next <i class="fa fa-angle-right pagination__icon"></i></a></li>
            </ul>
        </nav>

    </div>
</div><!--forum listings -->

<script>
    $.ajax({
        url: "/identity-information",
        method: "GET",
        success: function (data) {
            console.log("User data:", data);
            user = data;
            GetThreads(user);
        },
        error: function (xhr, status, error) {
        }
    });

    function GetThreads(user) {
        $.ajax({
            url: "/onlybalds-api/threads",
            method: "GET",
            success: function (data) {
                console.log("Threads data:", data);
                if (data.every(thread => thread.name !== "NewsArticles")) {
                    return CreateNewsArticleThread(user);
                }
                data.forEach(thread => {
                    console.log("Thread Id:", thread.id);
                    if (thread.name === "NewsArticles")
                    {
                        window.app.scripts.updateQueryParam('threadId', thread.id);
                        $('#write-new-post').on('click', function (e) {
                            e.preventDefault();

                            emptyComponents();

                            $('.footer').hide();
                            $('#forum-placeholder').load('components/forum-new-post.html');
                            $('.footer').fadeIn(400);

                            setTimeout(function () {
                                $('.navbar__nav').removeClass('navbar__nav--is-open');
                                $('.navbar__toggle').removeClass('navicon--toggle');
                            }, 250);

                            closeNavbar();
                        });

                        window.app.scripts.updateQueryParam('threadId', thread.id);
                        GetPosts(thread.id);
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching threads:", error);
            }
        });
    }

    function GetPosts(threadId) {
        $.ajax({
            url: `/onlybalds-api/posts?threadId=${threadId}`,
            method: "GET",
            success: function (data) {
                console.log(data);
                data.forEach(post => {
                    console.log("Post:", post);
                    if (threadId === post.threadId) {
                        $("#threads-list").append(
                        `
                        <div class="listing"  data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
                            <h2 class="listing__title">${post.title}</h2>
                            <div class="listing__meta">
                                <div class="listing__meta-author">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px; margin-top: 5px;" width="50" height="50" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                </div>
                                <div class="listing__meta-author-info">
                                    <p class="listing__meta-author-name">Posted by ${post.author}</p>
                                    <p class="listing__meta-post-date">${new Date(post.postedOn).toLocaleDateString()}</p>
                                </div>
                            </div>
                            <div class="listing__content">
                                <p class="listing__snippet">${post.content}</p>
                                <button class="text-link read-post-${post.id}">Read Article</button>
                            </div>
                        </div>
                        `);

                        window.app.scripts.registerReadPostClick(post.id);
                    }
                });

                $('#app-holder').css('display', 'block');
                $('#spinner-holder').remove();
            },
            error: function (xhr, status, error) {
                console.error("Error fetching thread:", error);
            }
        });
    }

    function CreateNewsArticleThread(user) {
        let threadItem = 
        {
            id: crypto.randomUUID(),
            name: "NewsArticles",
            creator: user.name,
            startDate: new Date().toISOString(),
            summary: "This thread is for posting news articles related to the Only Balds community.",
            postsCount: 0
        };
        let threadItemJson = JSON.stringify(threadItem);

        $.ajax({
            url: '/onlybalds-api/threads',
            type: 'POST',
            contentType: 'application/json',
            data: threadItemJson,
            success: function(response) {
                console.log('Post successful:', response);
            },
            error: function(xhr, status, error) {
                console.error('Post failed:', error);
            }
        });
    }
    
</script>