<!-- HERO
============================================== -->
<div class="hero">
    <div class="hero__content">
        <div class="hero__content-holder">
            <h1 class="hero__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">Where Bald People Connect</h1>
            <!-- <a href="#" class="hero__button btn btn--blue" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">Become A Member</a> -->
        </div>
    </div>
    <div class="hero__aside"  data-aos="fade-left" data-aos-delay="100" data-aos-offset="0">
        <div class="hero__figure">
            <img src="/assets/images/banner-image.jpg" alt="John, Founder of Only Balds" class="hero__image"  data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <!-- <div class="hero__circle-feature circle-feature">
                Join Over <span class="circle-feature__bold">3,000</span> Balds
            </div> -->
        </div>
    </div>
</div><!--/hero -->

<!-- CROP BOX
============================================== -->
<div class="crop-box">
    <div class="crop-box__container">
        <div class="crop-box__box">
            <div class="crop-box__content"  data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
                <p class="pre-heading crop-box__pre-heading">The Community</p>
                <h2 class="crop-box__heading">Be A Pro at Being Bald</h2>
                <p class="crop-box__description">Get the inside scoop on the latest bald topic: insights from the community and upcoming events and gatherings.</p>
                <!-- <div class="crop-box__link">
                    <a href="#" class="text-link text-link--white">Visit the Forum</a>
                </div> -->
            </div>
            <div class="crop-box__aside">
                <a href="/forum" class="link-box"  data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                    <img src="/assets/images/filler-forum-thumb.jpg" alt="Preview of forum page" class="link-box__background">
                    <h3 class="link-box__title">Join the Forum</h3>
                    <span class="link-box__arrow"><img src="/assets/images/white-arrow-right.png" alt=""></span>
                </a>
                <a href="/chat-room" class="link-box"  data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                    <img src="/assets/images/chat-room.jpg" alt="Preview of chat room page" class="link-box__background">
                    <h3 class="link-box__title">Visit the Chat Room</h3>
                    <span class="link-box__arrow"><img src="/assets/images/white-arrow-right.png" alt=""></span>
                </a>
            </div>
        </div>
    </div>
</div><!--/crop box -->

<!-- PRODUCTS
============================================== -->
<div class="section" style="display:none;">
    <div class="container container--centered">
        <div class="section__header section__header--is-centered"  data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
            <h2 class="section__heading">The <span class="heading-highlight">Products</span> You Need</h2>
            <p class="lead section__lead">No matter what stage of balding, we have the products for you.</p>
            <a href="/marketplace" class="text-link text-link--blue">View All Products</a>
            <span class="section__header-large-sub-text">Shop Now</span>
        </div>

        <div class="product-grid">
            <div class="product-grid__item product-grid__item--light-blue" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
                <img src="/assets/images/filler-product-1.png" alt="">
            </div>
                <div class="product-grid__item product-grid__item--gray" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
                <img src="/assets/images/filler-product-2.png" alt="">
            </div>
                <div class="product-grid__item product-grid__item--blue" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                <img src="/assets/images/filler-product-3.png" alt="">
            </div>
        </div>
    </div>
</div><!--/products -->

<!-- PRODUCTS
============================================== -->
<div class="section">
    <div class="container container--centered">
        <div class="product-row">
                <span class="large-sub-text product-row__large-sub-text">Shop Now</span>
            <div class="product-row__content">
                <h2 class="section__heading">The <span class="heading-highlight">Products</span> You Need</h2>
                <p class="lead">No matter what stage of balding, we have the products for you.</p>
                <a href="/marketplace" class="text-link text-link--blue">View All Products</a>
            </div>
                <div class="product-row__images">
                <img src="/assets/images/cleanser-product.jpg" alt="cleanser bottle with pump top" class="product-row__image">
                <img src="/assets/images/apparel-products.jpg" alt="Only Balds embroidered shirt, backpack and bag" class="product-row__image">
            </div>
        </div>
    </div>
</div><!--/products -->

<!-- JOIN THE BALDS
============================================== -->
<div class="bottom-cta">
    <div class="container bottom-cta__container"  data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
        <div class="bottom-cta__blue-box" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0"></div>
        <div class="bottom-cta__light-blue-box" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0"></div>
        <div class="bottom-cta__box">
            <div class="quote bottom-cta__quote">
                <p class="quote__text">Going bald isn’t the end—it’s the beginning of owning who you are. We’re just here to make it smoother… literally.</p>
                <p class="quote__author">John
                    <span class="quote__author-meta">Founder of Only Balds</span>
                </p>
            </div>
        </div>
    </div>
</div><!--/join the balds -->