<!-- BANNER
============================================== -->
<div class="banner banner--fade-to-gray">
    <div class="container">
        <h1 class="banner__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">The Only Balds Marketplace</h1>
        <p class="lead banner__paragraph" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">Find the perfect product for your place in the balding journey!</p>
    </div>
</div><!--/banner -->

<!-- MARKETPLACE
============================================== -->
<div id="spinner-holder" class="box__holder">
    <div class="flex-center">
        <div class="spinner-border" role="status" aria-label="Loading"></div>
    </div>
</div>

<div id="app-holder" class="section section--gray" style="display: none;">
    <div class="container">
        <div class="box box--with-top-lines" data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
            <div class="box__top-line box__top-line--light-blue"></div>
            <div class="box__top-line box__top-line--blue"></div>
            <div class="box__holder">
                <div class="box__section">
                    <div id="ecwid-marketplace"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Initializes the Ecwid marketplace widget.
    function initializeMarketplace (elementId) {
        $(document).ready(async function() {
            $('#ecwid-marketplace').empty();

            // Remove Ecwid Vue attribute if set
            $('#ecwid-marketplace').removeAttr('data-v-app');

            // Remove Ecwid script if it exists
            $('script[src^="https://app.ecwid.com/script.js?"]').remove();

            const currentUrl = window.location.href;

            const storeId = '103074754';
            const scriptUrl = `https://app.ecwid.com/script.js?${storeId}&data_platform=code&data_date=${Date.now()}`;
            let container = document.getElementById(elementId);

            if (container) {
                container.innerHTML = '';
                if (container.hasAttribute('data-v-app')) {
                    container.removeAttribute('data-v-app');
                }
            } else {
                console.error(`Container with ID "${elementId}" not found.`);
                return;
            }

            const loadWidget = () => {
                xProductBrowser(
                    "categoriesPerRow=3",
                    "views=grid(20,3) list(60) table(60)",
                    "categoryView=grid",
                    "searchView=list",
                    `id=${elementId}`
                );
                console.log("Marketplace initialized.");

                $('#app-holder').css('display', 'block');
                $('#spinner-holder').remove();
            };

            const loadScript = () => {
                return new Promise((resolve, reject) => {
                    const scriptElement = document.createElement('script');
                    scriptElement.src = scriptUrl;
                    scriptElement.charset = 'utf-8';
                    scriptElement.setAttribute('data-cfasync', 'false');
                    scriptElement.onload = resolve;
                    scriptElement.onerror = reject;
                    document.head.appendChild(scriptElement);
                });
            };

            const existingScript = document.querySelector(`script[src^="https://app.ecwid.com/script.js?${storeId}"]`);

            try {
                if (existingScript) {
                    loadWidget();
                    return;
                }
                await loadScript();
                loadWidget();
            } catch (error) {
                console.error("Failed to load the Ecwid script:", error);
            }
        });
    };

    initializeMarketplace("ecwid-marketplace");
</script>