<!-- BANNER
============================================== -->
<div class="banner banner--fade-to-gray">
    <div class="container">
        <h1 class="banner__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">Unauthorized</h1>
        <p class="lead banner__paragraph" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">You are unauthorized to access this members only page.</p>
    </div>
</div><!--/banner -->

<!-- MARKETPLACE
============================================== -->
<div class="section section--gray">
    <div class="container">
        <div class="box box--with-top-lines" data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
            <div class="box__top-line box__top-line--light-blue"></div>
            <div class="box__top-line box__top-line--blue"></div>
            <div class="box__holder">
                <div class="box__section">
                    <p class="card-text">
                        It looks like you’re trying to access a page that requires membership. Join our community of like-minded individuals and get full access to exclusive content, special offers, and much more!
                    </p>
                    <p class="card-text">
                        Signing up is quick and easy. Just click the button below to get started and unlock the benefits of being a member of The Only Balds Marketplace.
                    </p>
                    <div class="box__buttons">
                        <a href="/auth/login" class="btn btn--rounded btn--blue">Become A Member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>