<!-- BANNER
============================================== -->
<div class="banner banner--fade-to-gray">
    <div class="container">
        <h1 class="banner__heading" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">Membership Verification Required</h1>
        <p class="lead banner__paragraph" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
            A verification link has been sent to your email address.
        </p>
    </div>
</div><!--/banner -->

<!-- MARKETPLACE
============================================== -->
<div class="section section--gray">
    <div class="container">
        <div class="box box--with-top-lines" data-aos="fade-up" data-aos-delay="150" data-aos-offset="0">
            <div class="box__top-line box__top-line--light-blue"></div>
            <div class="box__top-line box__top-line--blue"></div>
            <div class="box__holder">
                <div class="box__section">
                    <p class="card-text">
                        Thank you for signing up! A verification link has been sent to your email address.
                    </p>
                    <p class="card-text">
                        Please check your inbox and click the link in the email to complete your registration and activate your membership.
                    </p>
                    <p class="card-text">
                        If you don’t see the email, be sure to check your spam or junk folder.
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</div>

<script src="/assets/scripts/App-5379555225.js"></script>
<script src="/assets/scripts/App-5379555225.js"></script>