@inject IJSRuntime JSRuntime

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client.Components._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
            <NotAuthorized>
                <OnlyBaldsNotAuthorized />
            </NotAuthorized>
            <Authorizing>
                <div class="alert alert-info" role="alert">
                    <h1 class="alert-heading">Authorizing...</h1>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
</Router>